
.main1 {
  height: 466px;
  background: url(../img/navbk.png)
    100% no-repeat;
  background-size: 100% 100%; 
}
.main1 .swiper-container{
  position: relative;
  width: 100%;
  height: 200px;
}  
.main1 .swiper-container .swiper-slide{
  width: 100%;
  line-height: 200px;
  font-size: 16px;
  text-align: center;
}
.outer2 {
  width: 224px;
  height: 28px;
  margin: 64px 0 0 75px;
}
.word1 {
  width: 224px;
  height: 28px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}
.outer3 {
  height: 196px;
  margin: 20px 0px 0px 0px;
}
.section2 {
  width: 266px;
  height: 177px;
  margin: 2px 0 0 2px;
}

.pic1 {
  width: 266px;
  height: 148px;
}
.info2 {
  width: 64px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 0 101px;
}
.outer6 {
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  margin-left: 60px;
  width: 270px;
}
.mod1 {
  width: 266px;
  height: 177px;
  margin: 2px 0 0 2px;
}
.img3 {
  width: 266px;
  height: 148px;
}
.txt3 {
  width: 112px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 0 77px;
}
.main2 {
  width: 266px;
  height: 177px;
  margin: 2px 0 0 2px;
}

.img4 {
  width: 266px;
  height: 148px;
}

.info3 {
  width: 96px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 0 85px;
}

.layer1 {
  width: 266px;
  height: 177px;
  margin: 2px 0 0 2px;
}

.pic2 {
  width: 266px;
  height: 148px;
}

.info4 {
  width: 96px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 0 85px;
}

.text_2 {
  width: 224px;
  height: 28px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.group_2 {
  height: 196px;
  margin: 20px 0 102px 40px;
}


.group_4 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
}

.image_1 {
  width: 266px;
  height: 148px;
}

.text_3 {
  width: 96px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 87px;
}

.group_5 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 30px;
}

.image_2 {
  width: 266px;
  height: 148px;
  margin: 2px 0 0 2px;
}

.text_4 {
  width: 64px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 103px;
}

.group_6 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 30px;
}

.image_3 {
  width: 266px;
  height: 148px;
  margin: 2px 0 0 2px;
}

.text_5 {
  width: 160px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 55px;
}

.group_7 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 30px;
}


.image_4 {
  width: 266px;
  height: 148px;
}

.text_6 {
  width: 112px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 79px;
}

.group_8 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 30px;
}

.image_5 {
  width: 266px;
  height: 148px;
  margin: 2px 0 0 2px;
}

.text_7 {
  width: 96px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 87px;
}

.group_9 {
  width: 270px;
  height: 196px;
  background: url(../img/SketchPngd079c5ac35af62bee2fc6fcb7ed5dcfccb5d79c4de37fb776aeeaa76af51b263.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 30px;
}

.image_6 {
  width: 266px;
  height: 148px;
  margin: 2px 0 0 2px;
}

.text_8 {
  width: 96px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 13px 0 17px 87px;
}


.box_7 {
  height: 1325px;
  margin-bottom: 1px;
}

.group_11 {
  width: 182px;
  height: 24px;
  margin: 60px 0 0 145px;
}

.section_1 {
  background-color: rgba(0, 115, 255, 1);
  width: 4px;
  height: 22px;
  margin-top: 2px;
}

.text_9 {
  width: 168px;
  height: 24px;
  color: rgba(0, 115, 255, 1);
  font-size: 24px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_12 {
  width: 1630px;
  height: 180px;
  margin: 30px 0 0 145px;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  width: 300px;
  justify-content: flex-center;
}

.text-wrapper_2 {
  width: 80px;
  height: 20px;
  margin: 17px 0 0 110px;
}

.text_10 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.section_2 {
  width: 260px;
  height: 104px;
  margin: 22px 0 17px 20px;
}

.image-text_1 {
  width: 80px;
  height: 86px;
}

.block_2 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng780df60080fb35024b4cfb34697b3b819e7388733ba42dd6b94d629a1d54de63.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_1 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_2 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.group_13 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngdbe104ea0245ca6fec4c5c88c92e6f4aa0743f78fa6a3f588276007c5ea86b7d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_2 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_3 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.box_8 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng4b853ac718a0006a13b693932a4ffec1875c462a34b4163c7a80077e9efd3289.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_3 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
  width: 300px;
}

.text-wrapper_3 {
  width: 80px;
  height: 20px;
  margin: 17px 0 0 110px;
}

.text_11 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.group_14 {
  width: 260px;
  height: 86px;
  margin: 22px 0 35px 20px;
}

.image-text_4 {
  width: 80px;
  height: 86px;
}

.box_9 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng83b0539af54a30944690e9ce4fba2b59af993ebcd2dd6acdc1dce578b98083cd.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_4 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_5 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.box_10 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng217838bd407f0dfcbf19e1f6e5bfa32105940f1edda05acd4d69e9ff7266739c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_5 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_6 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_3 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng00ac8d642f3d1c67c8d25e904136f82b8fce7395a0069b04fb0e7fca52d1983b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_6 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.block_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
  width: 300px;
}

.text-wrapper_4 {
  width: 80px;
  height: 20px;
  margin: 17px 0 0 110px;
}

.text_12 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.box_11 {
  width: 260px;
  height: 86px;
  margin: 22px 0 35px 20px;
}

.image-text_7 {
  width: 80px;
  height: 86px;
}

.box_12 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngd33589ffd0bc59db79c893a9d1d78fee7be3cafb40983077f548c6f2424e358f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_7 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_8 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_4 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng428639f17db91d15ee9c5595aa1b224b3773991cb2643d9e7c5be85fc971aa4f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_8 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_9 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.box_13 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng7b53f2edf9f1809e8669ca8d130f00c6ece769d01c8c6e16ebfe77161d0aa7a6.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_9 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 240px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_13 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 80px;
}

.box_14 {
  width: 170px;
  height: 104px;
  margin: 22px 0 18px 35px;
}

.image-text_10 {
  width: 80px;
  height: 104px;
}

.box_15 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng09240b9916848c6a5dd8aa07a8b5c59eb956adfeddec984209c28a0690a6f71b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_10 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_11 {
  width: 80px;
  height: 86px;
}

.group_15 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng1e3a2ec76fe717f052bab1080e9b061a50e38e225b40792e970f981770fb8023.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_11 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 150px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_14 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 35px;
}

.image-text_12 {
  width: 80px;
  height: 104px;
  margin: 22px 0 18px 35px;
}

.block_7 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng2494082f2c470060d9b0a30dccf6298cb452e8ef5f0965ebd782c905a82c0306.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_12 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.block_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 240px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_15 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 80px;
}

.block_9 {
  width: 170px;
  height: 86px;
  margin: 22px 0 36px 35px;
}

.image-text_13 {
  width: 80px;
  height: 86px;
}

.group_16 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPnge25828281135e4a71ab982ff8b767889fd7a327e824f08846ef06a0573caa28d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_13 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_14 {
  width: 80px;
  height: 86px;
}

.group_17 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng8c1982085666ed97c4a6afa9656ad25598e1c5ad843fcc6c998244d9a3509c45.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_14 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.group_18 {
  width: 182px;
  height: 24px;
  margin: 40px 0 0 145px;
}

.block_10 {
  background-color: rgba(0, 115, 255, 1);
  width: 4px;
  height: 22px;
  margin-top: 2px;
}

.text_16 {
  width: 168px;
  height: 24px;
  color: rgba(0, 115, 255, 1);
  font-size: 24px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_19 {
  width: 1630px;
  height: 180px;
  margin: 30px 0 0 145px;
}

.box_16 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 210px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
}

.text_17 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 65px;
}

.block_11 {
  width: 170px;
  height: 104px;
  margin: 22px 0 18px 20px;
}

.image-text_15 {
  width: 80px;
  height: 86px;
}

.block_12 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng3c641a5f45cf5979b762c928641bb57ea8edb85263a75a7febb85a611f84f640.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_15 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_16 {
  width: 80px;
  height: 104px;
}

.box_17 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng21ce1be672e1972c85732a029cabc08cb9e356bfc2e8445e292ae501500ed582.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_16 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.box_18 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
  width: 480px;
}

.text-wrapper_5 {
  width: 80px;
  height: 20px;
  margin: 16px 0 0 200px;
}

.text_18 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.section_5 {
  width: 440px;
  height: 86px;
  margin: 22px 0 36px 20px;
}

.image-text_17 {
  width: 80px;
  height: 86px;
}

.section_6 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngf6c8c921e4ca7a96297ecb0179bc8e6b0dc57b346126afafdb38c4b3e82bb2c9.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_17 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_18 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.box_19 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngc6011d2a4becc90a1e13a6bb110afc388d318093f67465246fc5c8a51e8188af.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_18 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_19 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.box_20 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngeb89027810aecbc555dfbfef83680c76b7f163907606a0ec435cac7fedd366ae.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_19 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_20 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_7 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngf84e09a8a9b56f7ba0aa0bfdadea108bba4f98156df19f2f998f7176a8898322.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_20 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_21 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.group_20 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngd627578b632a8eca10a0c5577c0c623e23700cd35f2894fe05116f9f28ced958.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_21 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.box_21 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 120px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_19 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 20px;
}

.image-text_22 {
  width: 80px;
  height: 104px;
  margin: 22px 0 18px 20px;
}

.box_22 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPnge6d2220c96b88517f07722215170f81579ab8bb4143479f1675d814794016879.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_22 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.box_23 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 210px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_20 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 70px;
}

.section_8 {
  width: 170px;
  height: 86px;
  margin: 22px 0 36px 20px;
}

.image-text_23 {
  width: 80px;
  height: 86px;
}

.group_21 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng1feaca0e4081ed19b9d0e21f03140da4e2ffc67273785a932bd46c925c68bfce.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_23 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_24 {
  width: 80px;
  height: 86px;
}

.group_22 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng6a41e9e90b10c43f61ee80f0cbd29386cdd51ccec5e195437689138e578dd2a1.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_24 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.box_24 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 210px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_21 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 65px;
}

.box_25 {
  width: 170px;
  height: 86px;
  margin: 22px 0 36px 20px;
}

.image-text_25 {
  width: 80px;
  height: 86px;
}

.section_9 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng799e4d6d81801bd10fca82f84dd043cecbc41efb542bdb009c6d2604e02ac6e8.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_25 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_26 {
  width: 80px;
  height: 86px;
}

.box_26 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngc2ef506a718f463943a0b068495310a38a823e4907b94fed2fa635ed917078bd.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_26 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.box_27 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
  width: 300px;
}

.text-wrapper_6 {
  width: 80px;
  height: 20px;
  margin: 16px 0 0 110px;
}

.text_22 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
}

.group_23 {
  width: 260px;
  height: 104px;
  margin: 23px 0 17px 20px;
}

.image-text_27 {
  width: 80px;
  height: 86px;
}

.box_28 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng71e678e0c7a0ac6a8165fdda83c8ea3742dad8465eecc2cb1162b58b19fa1778.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_27 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_28 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.box_29 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPnge656d3a7005dcab3939b796d8e4d671312b9fe296a8d1cfc790785eed435425b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_28 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_29 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.section_10 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngd2cd862b0952aa204a22d347841cae726ac52eec2b974b5525001ec5511f8ad5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_29 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.group_24 {
  width: 182px;
  height: 24px;
  margin: 40px 0 0 145px;
}

.block_13 {
  background-color: rgba(0, 115, 255, 1);
  width: 4px;
  height: 22px;
  margin-top: 2px;
}

.text_23 {
  width: 168px;
  height: 24px;
  color: rgba(0, 115, 255, 1);
  font-size: 24px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_25 {
  width: 1630px;
  height: 180px;
  margin: 30px 0 0 145px;
}

.group_26 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  width: 450px;
}

.text-wrapper_7 {
  width: 60px;
  height: 20px;
  margin: 16px 0 0 195px;
}

.text_24 {
  width: 60px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.group_27 {
  width: 350px;
  height: 104px;
  margin: 22px 0 18px 50px;
}

.image-text_30 {
  width: 80px;
  height: 104px;
}

.box_30 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng4cc5be7b030ce4373073e3eb95894108bc287915c5375f9b85345a92126b2c55.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_30 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_31 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_11 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngcca23e3f2821c9bb47304a18de18bba204a5b9f571869e7b3c18c021f730bdd1.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_31 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_32 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_12 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng4eed061715e3e559220535dcae51e72e51819275cf32ecc242d558b2ff72a172.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_32 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_33 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.section_13 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPnge301ad8425759333cf02b0ba7d8510ac1fa36b0fe3a145bddeafea5bf734b4a3.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_33 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.group_28 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 250px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_25 {
  width: 120px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 65px;
}

.box_31 {
  width: 170px;
  height: 104px;
  margin: 22px 0 18px 40px;
}

.image-text_34 {
  width: 80px;
  height: 86px;
}

.group_29 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng6f5b9faef0e4ffe399ff88a8577aa91150d90a4f2a1ab0208e8b707fd07bc4aa.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_34 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_35 {
  width: 80px;
  height: 104px;
}

.group_30 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngaaabb4a4f395620313cd19d6e8ca1a6a3ac66ad0bc0994319b08af6b13cedeaa.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_35 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.group_31 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
  width: 450px;
}

.text-wrapper_8 {
  width: 80px;
  height: 20px;
  margin: 16px 0 0 185px;
}

.text_26 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.box_32 {
  width: 350px;
  height: 104px;
  margin: 22px 0 18px 50px;
}

.image-text_36 {
  width: 80px;
  height: 104px;
}

.group_32 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng519deb0cf4c5256258b71bbffe15c0ef45a10105226ac0dd143833247d823f38.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_36 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_37 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.block_14 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng6ef8087bf747ced58536fec53d131525f9243ca0c057aa26061ec262e7ecb06f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_37 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_38 {
  width: 80px;
  height: 86px;
  margin-left: 10px;
}

.block_15 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng769bf166efa8fcee9fdc93e9140facd5fa59665530b8166272c75902435e8226.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_38 {
  width: 80px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_39 {
  width: 80px;
  height: 104px;
  margin-left: 10px;
}

.box_33 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng859ff3a1e0c63d911dade37c56d80d8a6cc2f22a990f4db72139d34091a51133.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_39 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.group_33 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 200px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_27 {
  width: 120px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 40px;
}

.image-text_40 {
  width: 80px;
  height: 104px;
  margin: 22px 0 18px 60px;
}

.group_34 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPngaf1ee2080bc6678af964f7c7b7b8febd06c487e725e18b0417265d0d77ac3fd6.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_40 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.group_35 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 200px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  margin-left: 20px;
}

.text_28 {
  width: 120px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 16px 0 0 40px;
}

.image-text_41 {
  width: 80px;
  height: 104px;
  margin: 22px 0 18px 60px;
}

.section_14 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng4fb87f9cbfef980bbf360b25fb208d142a17c79acf185dcb2cfd8345de8aa1d0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_41 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.group_36 {
  width: 182px;
  height: 24px;
  margin: 40px 0 0 145px;
}

.group_37 {
  background-color: rgba(0, 115, 255, 1);
  width: 4px;
  height: 22px;
  margin-top: 2px;
}

.text_29 {
  width: 168px;
  height: 24px;
  color: rgba(0, 115, 255, 1);
  font-size: 24px;
  font-family: MicrosoftYaHei;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_38 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 180px;
  border: 4px solid rgba(244, 244, 244, 1);
  width: 430px;
  margin: 30px 0 209px 145px;
}

.text-wrapper_9 {
  width: 80px;
  height: 20px;
  margin: 16px 0 0 175px;
}

.text_30 {
  width: 80px;
  height: 20px;
  color: rgba(154, 166, 170, 1);
  font-size: 20px;
  font-family: MicrosoftYaHeiLight;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.section_15 {
  width: 392px;
  height: 104px;
  margin: 22px 0 18px 20px;
}

.image-text_42 {
  width: 80px;
  height: 104px;
}

.block_16 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng545783aac64b60dee2b5b5a150372163d8321c7415b85582406157bd381ae9e0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_42 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_43 {
  width: 80px;
  height: 104px;
  margin-left: 20px;
}

.box_34 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng1a7187b97be4b195c3143e91220096c55e5167d45b8e524d18a0971522b0fdbf.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.text-group_43 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_44 {
  width: 80px;
  height: 104px;
  margin-left: 20px;
}

.box_35 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPng13d49bff09c11c4d2c86b688a3047e01f2195771fd51dd479323cee80b68a68a.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 14px;
}

.text-group_44 {
  width: 80px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}

.image-text_45 {
  width: 88px;
  height: 104px;
  margin-left: 24px;
}

.box_36 {
  width: 60px;
  height: 60px;
  background: url(../img/SketchPnge7497446e99e2f0e5a46322ccbc870864d0a765a80ac18f471bf9f7038e1d45d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 14px;
}

.text-group_45 {
  width: 88px;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-align: center;
  line-height: 18px;
  margin-top: 8px;
}
